section {
    width: 900px;
    margin: auto;
}

p.editTitle {
    float: left;
    margin: 0 auto;
}

p.editWeb {
    margin: 0 auto;
}

p.editPosition {
    float: left;
    margin: 0 auto;
}

p.editStartPeriod {
    float: left;
    margin: 0 auto;
}

p.editEndPeriod {
    margin: 0 auto;
}

p.editDescription {
    margin: 0 auto;
}

div.title {
    float: left;
    font-size: large;
    margin-right: 50px;
    color: blueviolet;
    background: rgba(210, 226, 226, 0.51);
}

div.period {
    float: left;
    line-height: 40px;
    font-size: small;
    margin-right: 50px;
    color: black;
}

div.position {
    line-height: 40px;
    font-weight: bolder;
    font-size: medium;
    color: darkslateblue;
}

div.description {
    color: black;
    margin-left: 120px;
}

header {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
    text-align: center;
}

footer {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px 0;
    text-align: center;
}

dl {
    background: none repeat scroll 0 0 #FAFAFA;
    margin: 8px 0;
    padding: 0;
}

dt {
    display: inline-block;
    width: 170px;
}

dd {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}

h2, h3 {
    margin: 15px 0 5px;
}

li {
    margin: 15px 0;
}

a[href^="skype:"] {
    padding-left: 20px !important;
    background: url(../img/skype.png) no-repeat center left;
}

a[href^="mailto:"] {
    padding-left: 20px !important;
    background: url(../img/email.png) no-repeat center left;
}

a[href^="https://stackoverflow.com"] {
    padding-left: 20px !important;
    background: url(../img/so.png) no-repeat center left;
}

a[href^="https://www.linkedin.com"] {
    padding-left: 20px !important;
    background: url(../img/lin.png) no-repeat center left;
}

a[href*="github."] {
    padding-left: 20px !important;
    background: url(../img/gh.png) no-repeat center left;
}