
body {
    background: url(../img/phon.jpg) center center  no-repeat fixed;
    background-size: cover;

}

section{
    width:50%;
    margin: auto;
}
.table-scroll table {
    width: 100%;
    table-layout: fixed;
    border: outset 8px;
}

.table-scroll thead{
    overflow-x: scroll;
}

.table-scroll-body {
    height: 400px;
    overflow-x: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.table-scroll thead th {
    text-align: center;
    padding: 10px 15px;
    background: #CBC6C2;
    font-size: 18px;
}
.table-scroll tbody td {
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
    word-break: break-all;
}
.for_delete\/edit {
    width: 5%;
}

.table-scroll tbody tr:nth-child(even){
    background: #ECECEC;
}

.table-scroll tbody tr:nth-child(odd){
    background: #DBD4CE;
}

/* Стили для скролла */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(208, 205, 200);
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgb(89, 85, 60);
}

header {
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
    text-align: center;
}

dl {
    margin: 8px 0;
    padding: 0;
}

dt {
    display: inline-block;
    width: 170px;
}
.name_institution{
    display: inline-block;
    width: 170px;
    font-weight: bold;
}

dd {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}

h2, h3 {
    margin: 15px 0 5px;
}

li {
    margin: 15px 0;
}

a[href^="skype:"] {
    padding-left: 20px !important;
    background-image: url(../img/skype.png);
    background-repeat: no-repeat;
}

a[href^="mailto:"] {
    padding-left: 20px !important;
    background-image: url(../img/email.png);
    background-repeat: no-repeat;
}

a[href^="https://stackoverflow.com"] {
    padding-left: 20px !important;
    background-image: url(../img/so.png);
    background-repeat: no-repeat;
}

a[href^="https://www.linkedin.com"] {
    padding-left: 20px !important;
    background-image: url(../img/lin.png);
    background-repeat: no-repeat;
}

a[href*="github."] {
    padding-left: 20px !important;
    background-image: url(../img/gh.png);
    background-repeat: no-repeat;
}